
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>Democracy</h1>
            <p class="lead">Voting system for a school.</p>

            @*Si en  caso el usuario no está logeado*@
            @if (!this.User.IsInRole("Admin") && !this.User.IsInRole("User"))
            {
                <p class="lead">To use the system, please log in with email and password, if is it first time, please register into system.</p>
            }
        </div>

        <div class="col-md-6">
            <img src="~/Content/Images/democracy3.jpg" alt="" style="width:400px;height:400px;max-width:100%; height:auto"/>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My settings</h2>
        <p>
            Change your personal data and password.
            
        </p>
        
        @Html.ActionLink("My Settings", "MySettings", "Users", new { } , new { @class="btn btn-primary"})
        <img src="~/Content/Images/settings.png" alt="" style="width:150px;height:150px;max-width:100%; height:auto" />
        
    </div>
    <div class="col-md-4">
        <h2>My Votings</h2>
        <p>
            Vote for the different candidates.
        </p>

        @Html.ActionLink("My Votings", "MyVotings", "Votings", new { }, new { @class = "btn btn-warning" })
        <img src="~/Content/Images/voting.jpg" alt="" style="width:150px;height:150px;max-width:100%; height:auto" />
    </div>
    <div class="col-md-4">
        <h2>Results</h2>
        <p>See the votation results.</p>
        @Html.ActionLink("Results", "Results", "Votings", new { } , new { @class = "btn btn-info" })
        <img src="~/Content/Images/results.jpg" alt="" style="width:150px;height:150px;max-width:100%; height:auto" />
    </div>
</div>